@import "bootstrap/scss/bootstrap";

.bg-primary-app {
    background-color: #1A1C22;
}

.btn-bd-primary {
  background-color: #DB202C; 
  color: #fff; 
  padding: 5px 25px; 
  border: none; 
  border-radius: 1rem; 
  cursor: pointer; 
}